# ProFTPD configuration file for Docker.

Include /etc/proftpd/modules.d/*.conf
Include /etc/proftpd/conf.d/*.conf

DefaultServer           on
Group                   proftpd
Port                    21
ServerType              standalone
User                    proftpd
UseIPv6                 off
WtmpLog                 off

AllowOverwrite          {{ ALLOW_OVERWRITE }}
MasqueradeAddress       {{ PASV_ADDRESS }}
MaxInstances            {{ MAX_INSTANCES }}
PassivePorts            {{ PASV_MIN_PORT }} {{ PASV_MAX_PORT }}
ServerName              "{{ SERVER_NAME }}"
TimesGMT                {{ TIMES_GMT }}
Umask                   {{ LOCAL_UMASK }}

DefaultRoot                     ~ 
RequireValidShell               off 
AuthUserFile /etc/proftpd/ftpd.passwd

<Limit SITE_CHMOD>
  DenyAll
</Limit>

<Limit WRITE>
  {{ WRITE_ENABLE }}
</Limit>

<Anonymous ~ftp>
  RequireValidShell     {{ ANONYMOUS_DISABLE }}
  UserAlias             anonymous ftp
  MaxClients            {{ MAX_CLIENTS }}
  <Limit WRITE>
    {{ ANON_UPLOAD_ENABLE }}
  </Limit>
</Anonymous>

<IfModule mod_tls.c>
  TLSEngine      {{ TLS_ENABLED }}  
  TLSLog        /var/log/proftpd/tls.log
  TLSProtocol      TLSv1 TLSv1.1 TLSv1.2
  TLSRSACertificateFile    /etc/proftpd/ssl/proftpd.crt
  TLSRSACertificateKeyFile  /etc/proftpd/ssl/proftpd.key
  TLSVerifyClient      off
  TLSRequired      {{ TLS_ENABLED }}
</IfModule>
